img{
    width: 400px;
    height: 300px;
    border-radius: 8px; 
}

body.inicio img {
     display: block;
  margin: auto;
  width: 25%;
}

p{
    font-style: oblique;
    font-size: 22px;
}
h1{
    text-align: center;
    background-color: rgb(204, 167, 239);
    font-size: 40px;
}

h1:hover{
    background-color: aquamarine;
    font-size: 60px;
}

h3{
    text-align: center;
    font-size: 30px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding:0px;
    margin-left:100px ;
    display: flex;
    gap:3rem; 
}

body.contacto{
    text-align: center;
}
body.contacto img div.polaroid {
  width: 25%;
  background-color: rgb(236, 170, 170);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body.contacto img {width: 25%}

div.container {
  text-align: center;
  padding: 25px 30px;
}

body.contacto .polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto;
  border-radius: 8px;
}

body.contacto .polaroid img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

body.contacto .container {
  text-align: center;
  padding: 10px 20px;
}
